body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  background-color: #121212; /* Dark background color */
}

#chat-container {
  width: 70%;
  min-width: 300px;
  max-width: 800px;
  height: 50vh;
  padding: 20vh;
  background-color: #121212; /* Dark background color for the canvas */
  overflow-y: hidden;
  display: flex;
  flex-direction: column-reverse;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
}

.message {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  max-width: 100%;
  word-wrap: break-word;
  background-color: #333; /* Dark background color for messages */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */
}

#slider-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #1f1f1f; /* Darker background color for sliders */
}

.slider-label {
  flex-grow: 1;
  color: #ffffff;
}

.slider {
  width: 50%;
  margin-top: 10px;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background-color: #555; /* Slider track color */
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

input[type="range"]:hover {
  opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffffff; /* Slider thumb color */
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffffff; /* Slider thumb color */
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 5px;
  border-radius: 5px;
  background-color: #555; /* Slider track color */
}

input[type="range"]::-moz-range-track {
  height: 5px;
  border-radius: 5px;
  background-color: #555; /* Slider track color */
}
